![SVG Banners](https://svg-banners.vercel.app/api?type=glitch&text1=Hi%20I'm%20Lucàs👋&width=1000&height=400)

## 🚀 About Me
I'm a passionate developer from 🇫🇷 **Albi, France**.

## 🔗 Links
{% for link in links -%}
  [![{{link.title}}]({{link.shield}})]({{link.url}})
{% endfor %}

## 🛠 Skills
{% for skill in skills -%}
  ![{{skill.title}}]({{skill.shield}})
{% endfor %}

---

<div align="center">

{% for badge in footerBadges -%}
  ![{{badge.title}}]({{badge.shield}})
{% endfor %}

![SVG Stats](https://github-stats-alpha.vercel.app/api?username=LucasVbr&cc=000&tc=fff&ic=fff&bc=000)

</div>