<div align="center">

# Hi {{ img(data.hi.src, data.hi.alt, data.hi.width) }}, I'm LucasVbr
### A passionate developer from France

<table>
  <caption>by {{ quote.author }}</caption>
  <thead>
    <tr>
      <th>Quote of the day</th>
    </tr>
  <thead>
  <tr>
    <td>"*{{ quote.content }}*"</td>
  </tr>
</table>

</div>
