{%- from './macros/image.md.jinja' import img -%}
{%- from './macros/link.md.jinja' import a -%}

<!-- Header -->
{%- include './sections/header.md.jinja' with context %}

<!-- Badges -->
{% include './sections/badges.md.jinja' with context %}

<!-- About -->
{% include './sections/about.md.jinja' with context %}

<!-- Connect With Me -->
{% include './sections/connect-with-me.md.jinja' with context %}

<!-- Language and Tools -->
{% include './sections/languages-and-tools.md.jinja' with context %}

<!-- Stats -->
{% include './sections/stats.md.jinja' with context %}
