{% from 'macro/image.md.jinja' import image, imageWithSize, imageWithLink %}

# Hello there ! {{ imageWithSize(data.info.hi_img) }}

I'm {{ data.info.name }}, a passionate developer from {{ imageWithSize(data.info.france_img) }} {{ data.info.city }}, France.
<br>Currently, the weather is: **{{ data.weather.temperature }}°C**, **{{ data.weather.description }}**

### I code with
{% for img in data.tools -%}
    {{ image(img) }}
{% endfor %}

### Where to find me
{% for img in data.links -%}
    {{ imageWithLink(img) }}
{% endfor %}
---

<div align="center">

This README is generated every 3 hours.<br>
Last refresh: **{{ data.today }}** ({{ data.info.timezone }})<br>
{% for img in data.footer_badges -%}
    {{ image(img) }}
{% endfor %}

*inspired by [Thomas Guibert](https://github.com/thmsgbrt)*

</div>
