# Hello there ! <img src="./img/Hi.gif" alt="Wave hand" width="50px" height="50px"/>

I'm {{ data.info.name }}, a passionate developer from {{ data.info.city }}, France.
<br>Currently, the weather is: **{{ data.weather.temperature }}°C**, **{{ data.weather.description }}**

### I code with
{% for image in data.tools -%}
    ![{{ image.name }}]({{ image.url }})
{% endfor %}

### Where to find me
{% for image in data.links -%}
    [![{{ image.alt }}]({{ image.src }})]({{ image.href }})
{% endfor %}
---

<div align="center">

This README is generated every day.<br>
Last refresh: **{{ data.today }}**<br>
{% for image in data.footer_badges -%}
    ![{{ image.alt }}]({{ image.src }})
{% endfor %}

*inspired by [Thomas Guibert](https://github.com/thmsgbrt)*

</div>
