<div align="center">
    <h1>Hi 👋, I'm LucasVbr</h1>
    <h3>A passionate developer from France</h3>
</div>

{{#badges}}{{> image }} {{/badges}}

<ul>
    <li>🔭 I’m currently working on {{#working}}{{>link}}{{/working}}</li>
    <li>🌱 I’m currently learning <b>Symfony</b></li>
    <li>📫 How to reach me <b>{{ email }}</b></li>
    <li>💻 Here is my <a href="{{ portfolio-url }}">portfolio</a></li>
</ul>

<h3>Connect with me:</h3>
<p>{{#connect-with-me}}{{> linkOnImage}} {{/connect-with-me}}</p>

<h3>Language and Tools:</h3>
{{#languages-and-tools}}
{{# languages }}{{> linkOnImage}} {{/languages}}
{{# frameworks }}{{> linkOnImage}} {{/frameworks}}
{{# tools }}{{> linkOnImage}} {{/tools}}
{{# os }}{{> linkOnImage}} {{/os}}
{{/languages-and-tools}}

<div align="center">
    {{#stats}}{{>image}}<br>{{/stats}}
</div>