{% macro image(image) -%}
    ![{{ image.alt }}]({{ image.src }})
{%- endmacro %}

{% macro imageWithLink(image) -%}
    [![{{ image.alt }}]({{ image.src }})](image.href)
{%- endmacro %}

{% macro imageWithSize(image) -%}
    <img src="{{ image.src }}" alt="{{ image.alt }}" width="{{ image.size }}" height="{{ image.size }}"/>
{%- endmacro %}